@use 'sass:math';
@use 'base/variables' as v;
@use 'base/mixins' as m;

.tabs__music{
    &__buttons{
        display: flex;
        justify-content: space-between;
        gap: 1rem;
        margin: calc(v.$separate / 2) auto calc(v.$separate * 2) auto;
        &--btn{
            width: 100%;
            border: none;
            border-radius: 0.5rem;
            padding: 2rem;
            &:hover{
                cursor: pointer;
                background-color: v.$yellow;
            }

            &--active{
                @extend .tabs__music__buttons--btn;
                background-color: v.$yellow;
            }
        }
    }

    &--disabled{
        display: none;
    }
}