@use 'base/variables' as v;
@use 'base/mixins' as m;

.btn-search{
    position: absolute;
    top: 50%;
    right: -100%;        
    transform: translate(-50%, -50%);
    width: 1.7rem;
    @include m.tablet{
        width: 3rem;       
        right: 25%;        
    }
    @include m.desktop{
        right: 40%;
    }
}

.btn-menu{
    filter:sepia(100%) grayscale(1) brightness(1);    
    &.active{
        filter:none;
    }
    &:hover{
        filter: none;
    }
}

.btn-dropdown{
    cursor: pointer;
}

.btn-lang{
    all:unset;            
    padding: 0.5rem 2rem;
    color: v.$white;
    border-radius: 0.5rem;
    font-size: 1.4rem;            
    &:hover{
        cursor: pointer;
        background-color: v.$yellow;
    }
}

.btn-submit{
    @include m.boton(v.$yellow, block);
    width: fit-content;
    border-radius: 1rem;
    color: v.$gray-dark;
    &--extra{
        @extend .btn-submit;
        margin: 2.5rem auto 0;
        font-size: 1.6rem;
    }
}


.btn-view{
    @include m.boton(v.$yellow, flex);
    margin-top: 1rem;
    border-radius: 1rem;
    color: v.$gray-dark;
    align-items: center;
    justify-content: center;
    gap:1rem;
}

.btn-delete{
    @include m.boton(v.$red, block);
    margin-top: 1rem;
    width: fit-content;
    border-radius: 1rem;
    color: v.$white;
}

.btn-update{
    @include m.boton(darken(v.$green, 17%), flex);
    margin-top: 1rem;
    border-radius: 1rem;
    color: v.$white;
}