@use "sass:math";
@use 'variables' as v;
@use 'mixins' as m;


html {
    font-size: 62.5%;
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    font-family: v.$mainFont;
    font-size: 1.6rem;
    line-height: 1.8;
    background-color: v.$gray;
}

p {
    color: v.$white;
    font-size: 2rem;
}

.container {
    width: 70%;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

img,
picture {
    width: 100%;
    display: block;
}

h1, h2, h3 {
    font-family: v.$mainFont;
    margin: math.div(v.$separate, 2) 0;
    font-weight: 300;
    text-align: center;
    color: v.$white;
}

h1 {

    font-size: 2.8rem;
    @include m.tablet{
        font-size: 3.8rem;
    }
}
h2 {
    font-size: 2.6rem;
    @include m.tablet{
        font-size: 3.4rem;
    }
}
h3 {
    font-size: 2rem;
    @include m.tablet{
        font-size: 3rem;
    }
}
h4 {
    font-size: 1.8rem;
    @include m.tablet{
        font-size: 2.6rem;
    }
}

p{
    font-size: 1.6rem;
    @include m.tablet{
        font-size: 2rem;
    }
}
