/** Media Queries **/
@use 'sass:math';
@use 'variables' as v;

@mixin phone {
    @media (min-width: #{calc(v.$phone + 1px)}) {
        @content;
    }
}

@mixin midscreen {
    @media (min-width: #{calc(v.$midscreen + 1px)}) {
        @content;
    }
}

@mixin tablet {
    @media (min-width: #{calc(v.$tablet + 1px)}) {
        @content;
    }
}

@mixin laptop{
    @media (min-width: #{calc(v.$laptop + 1px)}) {
        @content;
    }
}
  
@mixin desktop {
    @media (min-width: #{calc(v.$desktop + 1px)}) {
        @content;
    }
}

@mixin desktop-large {
    @media (min-width: #{calc(v.$desktop-large + 1px)}) {
        @content;
    }
}

@mixin ultra-wide {
    @media (min-width: #{calc(v.$ultra-wide + 1px)}) {
        @content;
    }
}

@mixin maxphone {
    @media (max-width: #{v.$phone}) {
        @content;
    }
}

@mixin maxmidscreen {
    @media (max-width: #{v.$midscreen}) {
        @content;
    }
}

@mixin maxtablet {
    @media (max-width: #{v.$tablet}) {
        @content;
    }
}

@mixin maxdesktop {
    @media (max-width: #{v.$desktop}) {
        @content;
    }
}

@mixin maxdesktop-large {
    @media (max-width: #{v.$desktop-large}) {
        @content;
    }
}

@mixin maxultra-wide {
    @media (max-width: #{v.$ultra-wide}) {
        @content;
    }
}

@mixin grid($columns, $spacing) {
    display: grid;
    gap: $spacing;
    grid-template-columns: repeat($columns, 1fr);
}

@mixin boton($bgColor, $display){
    background-color: $bgColor;
    color: v.$white;
    font-weight: bold;
    text-decoration: none;
    padding: 1rem 3rem;
    text-align: center;
    margin-top: math.div(v.$separate , 2);
    display: $display;
    border: none;

    &:hover{
        background-color: darken($bgColor, 7);
        transform: scale(1.03);
        transition: transform 0.2s;
        cursor: pointer;
    }
}

@mixin card {
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    background-color: v.$back-white;
    border-left: 1.5rem solid v.$yellow;
    &:hover{
        background-color: darken(v.$back-white, 9);
        border-left: 1.5rem solid darken(v.$yellow, 9);
    } 
}