/** Media Queries **/
@use 'sass:math';
@use 'variables' as v;

@mixin phone {
    @media (min-width: #{v.$phone}) {
        @content;
    }
}

@mixin tablet {
    @media (min-width: #{v.$tablet}) {
        @content;
    }
}

@mixin laptop{
    @media (min-width: #{v.$laptop}) {
        @content;
    }
}
  
@mixin desktop {
    @media (min-width: #{v.$desktop}) {
        @content;
    }
}

@mixin desktop-large {
    @media (min-width: #{v.$desktop-large}) {
        @content;
    }
}

@mixin ultra-wide {
    @media (min-width: #{v.$ultra-wide}) {
        @content;
    }
}

@mixin grid($columns, $spacing) {
    display: grid;
    gap: $spacing;
    grid-template-columns: repeat($columns, 1fr);
}

@mixin boton($bgColor, $display){
    background-color: $bgColor;
    color: v.$white;
    font-weight: bold;
    text-decoration: none;
    padding: 1rem 3rem;
    text-align: center;
    margin-top: math.div(v.$separate , 2);
    display: $display;
    border: none;

    &:hover{
        background-color: darken($bgColor, 7);
        transform: scale(1.03);
        transition: transform 0.2s;
        cursor: pointer;
    }
}