@use "sass:math";
@use 'base/variables' as v;
@use 'base/mixins' as m;


.no-display{
    display: none !important;
}

.no-click{
    pointer-events: none;
}

.light-bg{
    background-color: v.$gray;
    margin-top: 4rem;
    padding: 2rem;
    border-radius: 2rem;
}

.div-bg{
    background-color: v.$gray;
    margin-top: 4rem;
    padding: 2rem;
}

.text-left{
    text-align: left;
    background-color: transparent;
    margin: 0;
    margin-bottom: 4rem;
}

.slider-main{
    margin-top: 4rem;
    position: relative;
    &::after{
        clear: both;
        display: table;
        content: "";
    }
}

.wrapper{
    display: flex;
    gap: 2rem;
    align-items: center;
    overflow-x: hidden;

    .main-container{
        background-color: v.$gray;
        padding: 2rem;
        border-radius: 2rem;
    }
}

.buttons{
    position: absolute;
    width: 100%;
    top: 45%;
    left: 0;
    z-index: 1;
    display: flex;

    .slider-next{
        box-shadow: -2px -2px 5px #202020;
        margin-right: -3.5rem;
        z-index: 1;
        right: 0;
    }
    .slider-prev{
        box-shadow: 2px 2px 5px #202020;
        margin-left: -3.5rem;
        z-index: 1;
        left: 0;
    }

    .slider-next, .slider-prev{
        border: none;
        background-color: rgba($color: v.$white, $alpha: 0.3);        
        color: v.$gray-dark;
        font-size: 3rem;
        font-weight: v.$bold;
        padding: 2.5rem;
        display: grid;
        place-items: center;
        border-radius: 50%;
        position: absolute;

        &:hover{
            cursor: pointer;
        }
    }
}

.bloque-btn{
    display: flex;
    flex-direction: column;

    & a{
        margin-bottom: 2rem;
    }
}

.disabled{
    pointer-events: none;   
}

.text-yellow{
    color: v.$yellow;
}

.text-blue{
    color: v.$blue;
}

.text-green{
    color: v.$green;
}

.tel-form{
    width: 100%;
    display: grid;
    grid-template-columns: auto auto;
    gap: .5rem;
    grid-auto-flow: column;
    @include m.tablet{
        grid-template-columns: auto 85%;
    }
}

.tel-input{
    grid-column: 2 / 3;
}

.tel-index{
    all: unset;
    font-size: 1.6rem;
    padding: 1rem;
    background-color: v.$gray-dark;
    color: v.$yellow;
    grid-column: 1 / 2;
    border-radius: 1rem;
    max-width: 3rem;
    cursor: not-allowed;
    @include m.tablet{
        max-width: 5rem;
    }
}

.mTop-0{
    margin-top: 0;
}

.mBottom-0{
    margin-bottom: 0;
}

.mTop-1{
    margin-top: 1rem;
}

.mTop-5{
    margin-top: 5rem;
}

.mTop-5--only-mobile{
    @include m.maxtablet{
        margin-top: 5rem;
    }
}

.mBottom-5{
    margin-bottom: 5rem;
}

.mBottom-5--only-mobile{
    @include m.maxtablet{
        margin-bottom: 5rem;
    }
}

.center{
    text-align: center;
}

.text-yellow{
    color: v.$yellow;
}

.text-green{
    color: v.$green;
}

.title-info{
    font-size: 2.2rem;
    @include m.tablet{
        font-size: 2.5rem;
    }
}


.option{
    cursor: pointer;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    background-color: v.$gray-dark;
    color: v.$white;
    border: 0.1rem solid v.$yellow;
    &:hover{
        background-color: v.$yellow;
        color: v.$gray-dark;
        font-weight: v.$bold;
    }
}

.overlay{
    overflow: hidden !important;
    overflow-y: hidden !important;
}

.flex{
    @include m.tablet{
        display: flex;
        gap: 2rem;
    }
}

.flex--gap-3{
    @include m.tablet{
        display: flex;
        gap: 3rem;
    }
}

.flex--gap-5{
    @include m.tablet{
        display: flex;
        gap: 5rem;
    }
}

.grid-2{
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
    @include m.tablet{
        grid-template-columns: 1fr 1fr;
    }
}

.block{
    display: block;
    width: 100%;
}

.deleteModal{
    @include m.modal(v.$gray-dark, 3rem, 90%, 40%, 0.2rem, v.$yellow, solid);
}

.only--mobile{
    @include m.tablet{
        display: none;
    }
}

.only--desktop{
    display: none !important;
    @include m.tablet{
        display: block !important;
    }
}