@use 'base/variables' as v;
@use 'base/mixins' as m;

.form-usuario{
    display: flex;
    border-radius: 1rem;
    gap: 1rem;
    margin-bottom: 1rem;

    &__group{
        background-color: v.$gray-light;
        padding: 1rem 2rem;
        display: flex;
        align-items: center;
        gap: 1.5rem;
        border-radius: 1rem;
        width: 100%;
        &__icon{
            color: v.$white;
            font-size: 3rem;
            // &.selected{
            //     color: v.$gray-dark;
            // }
        }
        &.selected{
            background-color: v.$yellow;
            color: v.$gray-dark;
            i, p{
                color: v.$gray-dark !important;
            }
        }
    }
    
}