@use "sass:math";
@use 'base/variables' as v;
@use 'base/mixins' as m;

.form-div{
    width: 100%;
    margin: 3rem  auto;
    @include m.phone{
        width: 90%;
    }
    @include m.tablet{
        width: 65%;
    }
    @include m.desktop-large{
        width: 50%;
    }
}

.form{
    background-color: v.$gray;
    padding: 2rem 3rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;

    &__info{
        font-weight: v.$thin;
        font-size: 1.6rem;
        margin: 0;
        padding: 0 3rem;
    }

    &__legend{
        color: v.$yellow;
        font-size: 2.2rem;
        text-decoration: 2px underline;
        text-underline-offset: 1rem;
    }

    &--max{
        @extend .form;
        width: 65%;
    }

    &__legend{
        color: v.$green;
        font-size: 2.2rem;
    }

    &__fieldset{
        border: none;
    }

    &__group{
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        &__label{
            color: v.$white;
            font-size: 1.8rem;
        }
        &__input, &__select{
            padding: 1rem;
            width: 100%;
            margin: auto;
            background-color: v.$gray-light;
            border-radius: 1rem;
            color: v.$white;
            border: none;
            display: block;
            &:focus{
                outline: 2px solid v.$yellow;
                caret-color: v.$yellow;
            }
            &:disabled{
                background-color: v.$gray-dark;
                color: lighten(v.$gray-light, 10);
                font-size: 1.8rem;
            }
        }
        &__select option{
            cursor: pointer;
            background-color: v.$gray-dark;
            text-transform: capitalize;
        }
    }
}

.acciones{
    width: 100%;
    margin: auto;
    margin-top:3rem;
    display: flex;
    justify-content: space-around;
    @include m.tablet{
        width: 65%;
    }

    &--centrar{
        @extend .acciones;
        justify-content: center;
    }

    &__enlace{
        color: v.$white;
        font-size: 1.4rem;
        font-weight: v.$regular;
        &:hover{
            color: v.$yellow;
        }
    }
}